#drop_zone, #profile_zone{
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;
	overflow-y: scroll;
}

.upload-panel, .profile-panel{
	border-radius: 10px;
	overflow-x: visible;
}

/*.upload-panel paper-fab{
	position: fixed;
	z-index: 99;
	margin-top: 7px;
	margin-left: 49%;
	background-color: #EEFF41;
}*/

#drop_zone h4, #profile_zone h4{
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #C7C4C4;
	font-size: 21px;
	border-radius: 10px;
	border: solid thick #C3C1C1;
	border-style: dashed;
}

.result-div{
	width: calc(100% - 10px);
	padding: 5px;
	height: 30px;
	border-bottom: solid 1px #eee;
}

.result-div h6{
	margin: 0;
	font-size: 15px;
	margin-top: 7px;
	width: calc(100% - 100px);
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.result-div i{
	float: right;
	float: right;
	font-size: 17px;
	margin-top: 3px;
}

.result-div .fa-check{
	color: #72d572;
}

.result-div .fa-ban{
	color: #f36c60;
}

#profile_zone{
	background-size: calc(100% - 10px);
	background-repeat: no-repeat;
}